{% extends"::base.html.twig" %}
{% block title %}{% endblock %}
{% block body %}
    <div class="clearfix"></div>
    <!--slider image area-->
    <div class="wrap" style="width: 94%; padding-top: 1px; text-align: center; margin: 0 auto; background-color: #ffffff;">
        <div class="main" style="width: 96%; margin:0 auto;">
            <div style="border: 2px solid #e0dfdf; margin-top: 3px;"></div>
            <div style="border-top: 1px solid #e0dfdf; margin-top: 3px;"></div>
            <div style="border-top: 1px solid #e0dfdf; margin-top: 3px;"></div>
            <div style="border-top: 1px solid #e0dfdf; margin-top: 3px;"></div>
        </div>
    </div>


    <div class="wrap" style="width: 94%; padding-top: 15px; background-color:#ffffff; margin: 0 auto;">
        <div class="main" style="width: 96%; margin: 0 auto;">
            <div class="col-md-12" style="margin-top: 25px;">
                <div class="col-md-9" style="padding-left: 0px;">

                    <div style="margin: 10px 0px;">
                        <p style="font-size: 20px; font-family: 'Oswald', sans-serif;">
                            <b>Login</b>
                        </p>
                    </div>
                    <!--bottom paragraph end-->


                    <div class="col-md-12" style="margin: 0px; padding: 0px;">
                        <div style="margin: 35px 0px;">
                            <form action="" method="post">
                                <div style="font-size: 13px; color: #828282; font-weight: 700; margin-bottom: 6px; display: block;">Username or email address <font color="red">*</font></div>
                                <div><input name="user" type="text" style="width: 100%; padding: 7px; border: 1px solid #e0dfdf; border-radius:3px;"></div>
                                <div style="font-size: 13px; margin-top: 10px; color: #828282; font-weight: 700; margin-bottom: 6px; display: block;">Password <font color="red">*</font></div>
                                <div><input name="pass" type="password" style="width: 100%; padding: 7px; border: 1px solid #e0dfdf; border-radius:3px;"></div>
                                <div style="margin-top: 10px;"><input class="loginbtn" type="submit" value="Login"></div>
                                <div style="color: #828282;"><input type="checkbox"> &nbsp; Remember me</div>
                                <div style="margin-top: 15px;"><a class="lost-pass" href="">Lost your password?</a></div>
                            </form>
                        </div>
                    </div>


                </div>
                <!--left side bar end-->

                <!--right side bar start-->
                <div class="col-md-3" style="margin: 0px; padding-right: 0px; background: ;">
                    <div style="color: #c58408; font-family: 'Oswald', sans-serif; font-weight: bold; font-size: 15px;">
                        WELCOME TO COMPANYNAME.COM
                    </div>
                    <div style="padding: 10px 0px; font-family: 'Oswald', sans-serif;">
                        We are the leading supplier of quality USA Made Premium Herbal Incense. Our prices will not be beaten!
                    </div>
                    <div>
                        <img src="{{ asset('bundles/main/') }}img/side.PNG" style="padding-bottom:15px;" alt="">
                    </div>
                    <div>
                        <h4 style="margin-top: 15px; font-family: 'Oswald', sans-serif;">Signup For Exclusive Discounts!</h4>
                        <form action="" method="">
                            <div style="margin: 5px 0px; font-family: 'Oswald', sans-serif;">First Name:</div>
                            <div><input type="text" style="width: 100%; padding: 5px; margin-bottom: 5px;" placeholder="Your First Name"></div>
                            <div style="margin: 5px 0px; font-family: 'Oswald', sans-serif;">Email Address:</div>
                            <div><input type="text" style="width: 100%; padding: 5px; margin-bottom: 5px;" placeholder="Your Email Address"></div>
                            <div style="margin: 8px 0px;"><input type="submit" value="Signup"></div>
                        </form>
                    </div>
                    <div style="margin-top: 30px;">
                        <img src="{{ asset('bundles/main/') }}img/card.png" style="width:100%;" alt="">
                    </div>
                    <div style="font-size: 15px; margin: 5px 0px; font-family: 'Oswald', sans-serif; font-weight: bold;">
                        We accept most major credit cards!
                    </div>
                    <div>
                        <img src="{{ asset('bundles/main/') }}img/Badge1-300x300.png" style="width:100%;" alt="">
                    </div>
                    <div>
                        <img src="{{ asset('bundles/main/') }}img/badge2-300x300.png" style="width:100%;" alt="">
                    </div>
                </div>
                <!--right side bar end-->
            </div>
        </div>
        <div class="clearfix"></div>

        <!--bordered divs start-->
        <div class="col-md-12">
            <div class="wrap" style="width: 100%; margin: 0 auto;">
                <div class="main" style="width: 96%; margin: 0 auto;">
                    <div class="col-md-12">
                        <div style="border: 2px solid #e0dfdf; margin-top: 3px;"></div>
                        <div style="border-top: 1px solid #e0dfdf; margin-top: 3px;"></div>
                        <div style="border-top: 1px solid #e0dfdf; margin-top: 3px;"></div>
                        <div style="border-top: 1px solid #e0dfdf; margin-top: 3px;"></div>
                    </div>
                </div>
            </div>
        </div>
        <!--bordered divs end-->
        <div class="clearfix"></div>
    </div>

{% endblock %}

